<h1>Listing collections</h1>

<table>
  <tr>
    <th>Collection</th>
    <th>Title</th>
    <th>Manager</th>
    <th>Value</th>
    <th>Belongs</th>
    <th>Loaned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= collection.collection_id %></td>
    <td><%= collection.title %></td>
    <td><%= collection.manager %></td>
    <td><%= collection.value %></td>
    <td><%= collection.belongs_id %></td>
    <td><%= collection.loaned_id %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
    <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection', new_collection_path %>
