<h1>Listing artists</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Artist</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Pseudonym</th>
    <th>Nationality</th>
    <th>Birth</th>
    <th>Death</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @artists.each do |artist| %>
  <tr>
    <td><%= link_to artist.artist_id, artist %></td>
    <td><%= link_to artist.first_name, artist %></td>
    <td><%= link_to artist.last_name, artist %></td>
    <td><%= link_to artist.pseudonym, artist %></td>
    <td><%= link_to artist.nationality, artist %></td>
    <td><%= link_to artist.birth, artist %></td>
    <td><%= link_to artist.death, artist %></td>
    <td><%= link_to artist.url, artist.url %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Artist', new_artist_path %>
