<p id="notice"><%= notice %></p>

<p>
  <b>Exhibition:</b>
  <%= @exhibition.exhibition_id %>
</p>

<p>
  <b>Title:</b>
  <%= @exhibition.title %>
</p>

<p>
  <b>Description:</b>
  <%= @exhibition.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @exhibition.start_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>End date:</b>
  <%= @exhibition.end_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Location:</b>
  <%= @exhibition.location %>
</p>

<p>
  <b>Organizer:</b>
  <%= @exhibition.organizer %>
</p>

<p>
  <b>Reference Material(s):</b><br>
    <% @exhibition.referencedBy.each do |r| %>
      <%=link_to("Title: "+ r.title, reference_material_path(r.ref_id), :class=>"") %><br>
    <% end %>
</p>



<p>
  <b>Artworks:</b><br>

  <% @exhibition.artworksIn.each do |a| %>
  <%= a.title %><br>
  <%=link_to(image_tag(url_for(:controller => "artworks", :action => "show_image", :id => a.id)), artwork_path(a.art_id), :class=>"") %><br>

  <% end %>

</p>

<%= link_to 'Edit', edit_exhibition_path(@exhibition) %> |
<%= link_to 'Back', exhibitions_path %>
