<fieldset>
<p>
  <div class="field">
    <%= f.label :width %> 
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %> 
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %> 
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :volume %> 
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label "Art ID" %> 
    <%= f.number_field :art_id %>
  </div>
</p>
</fieldset>

