
<%= render 'royalslider' %>




<div id="showcase">
    <div class="container">
        <div class="section_header">
            <h3>Recent Artwork</h3>
        </div>            
        <div class="row feature_wrapper">

            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <% Artwork.find(:all, :limit => 3).each do |a| %>
                <div class="span4 feature first">
                    <div class="img_box">
                        <a href=<%= artwork_path(a.art_id)%>>
                            <% if defined?(a.image)%>
                         <%= image_tag url_for(:controller => "artworks", :action => "show_image", :id => a.art_id) %>
                         <% end %>
                         <span class="circle"> 
                            <span class="plus">&#43;</span>
                        </span>
                    </a>
                </div>
                <div class="text">
                    <h6><%= a.title %></h6>
                    <p>
                        <%= a.creation_date.strftime("%Y") %>

                    </p>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</div>
</div>




<div id="features">
    <div class="container">
        <div class="section_header">
            <h3>Featured Exhibitions</h3>
        </div> 

        <% @e = Exhibition.offset(rand(Exhibition.count)).first %>
        <% until defined?(@e.artworksIn.sample.art_id) %>
            <% @e = Exhibition.offset(rand(Exhibition.count)).first %>
        <% end %>
        <div class="row feature">
            <div class="span6">
                 <%= image_tag url_for(:controller => "artworks", :action => "show_image", :id => @e.artworksIn.sample.art_id ), :size => "220x220" %>
            </div>
            <div class="span6 info">
                <h3>
                    <%= @e.title %>
                </h3>
                <p>
                    <%= @e.description %>
                </p>
            </div>
        </div><br>


        <div class="row feature ss">
            <div class="span6 info">
                <h3>
                 Great Collections
             </h3>
             <p>
                Galleries are built to take individual data attributes into account, and the isotope.js library enables us to support dynamic gallery viewing by category.
            </p>
        </div>
        <div class="span6">
         <%= image_tag url_for(:controller => "organizations", :action => "show_image", :id => Organization.all.sample.org_id ), :size => "220x220", :class => "pull-right" %>
     </div>
 </div>

</div>

</div>
