<p id="notice"><%= notice %></p>

<p>
  <b>Ref:</b>
  <%= @reference_material.ref_id %>
</p>

<p>
  <b>Title:</b>
  <%= @reference_material.title %>
</p>

<p>
  <b>Abstract:</b>
  <%= @reference_material.abstract %>
</p>

<p>
  <b>Content:</b>
  <%= @reference_material.content %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @reference_material.url, @reference_material.url %>
</p>


<p>
  <b>Artwork(s) Referrenced:</b><br>
  <% @reference_material.artworksRefferenced.each do |ar| %>
      <%=link_to("Title: "+ ar.title+", "+ ar.creation_date.strftime("%Y"), artwork_path(ar.art_id), :class=>"") %><br>
    <% end %>
</p>
<p>

  <b>Artist(s) Referrenced:</b><br>
    <% @reference_material.artistsRefferenced.each do |a| %>
      <%=link_to("Name: "+ a.first_name+" "+ a.last_name+", "+ a.pseudonym, artist_path(a.artist_id), :class=>"") %><br>
    <% end %>
</p>

<p>
  <b>Exhibitions Referrenced:</b><br>
  <% @reference_material.exhibitionsRefferenced.each do |a| %>
      <%=link_to("Title: "+ a.title+", "+ a.start_date.strftime("%Y") + "-" + a.end_date.strftime("%Y"), exhibition_path(a.exhibition_id), :class=>"") %><br>
    <% end %>
</p>



<%= link_to 'Edit', edit_reference_material_path(@reference_material) %> |
<%= link_to 'Back', reference_materials_path %>
