<div class="container">
  <h1>Listing organizations</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Org</th>
    <th>Title</th>
    <th>Description</th>
    <th>Org type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.org_id %></td>
    <td><%= organization.title %></td>
    <td><%= organization.description %></td>
    <td><%= organization.org_type %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_organization_path,
            :class => 'btn btn-primary' %>
</div>

