<p id="notice"><%= notice %></p>

<p>
  <b>Org:</b>
  <%= @organization.org_id %>
</p>

<p>
  <b>Title:</b>
  <%= @organization.title %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Org type:</b>
  <%= @organization.org_type %>
</p>



<p>
	<b>Exhibition(s):</b><br>
  	<% @organization.hostedExhibitions.each do |e| %>
  		<%=link_to(e.title, exhibition_path(e.exhibition_id), :class=>"") %><br>
  	<% end %>
</p>


<p>
	<b>Owned Collection(s):</b><br>
  	<% @organization.ownedCollections.each do |c| %>
  		<%=link_to(c.title, collection_path(c.collection_id), :class=>"") %><br>
  	<% end %>
</p>

<p>
	<b>Borrowed Collection(s):</b><br>
  	<% @organization.borrowedCollections.each do |c| %>
  		<%=link_to(c.title, collection_path(c.collection_id), :class=>"") %><br>
  	<% end %>
</p>



<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
