<p id="notice"><%= notice %></p>

<p>
  <b>Art:</b>
  <%= @art_category.art_id %>
</p>

<p>
  <b>Cat name:</b>
  <%= @art_category.cat_name %>
</p>


<%= link_to 'Edit', edit_art_category_path(@art_category) %> |
<%= link_to 'Back', art_categories_path %>
